# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database & Logs
*.db
*.db-journal
*.db-shm
*.db-wal
activity.log
backup_log.txt
.SAFE_BACKUP/

# Process Files
*.pid

# System/IDE
.vscode/
.idea/
.DS_Store
